<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <form action ="http://127.0.0.1:5000/raiseincident" method="post">
    <div class="form-group col-md-4">
      <label for="inputCategory">Category</label>
      <select class="form-control" id="category" name="category" >
        <option value="software" selected>Software</option>
        <option value="hardware">Hardware</option>
        <option value="network">Network</option>
        <option value="database">Database</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="inputImpact">Impact</label>
      <select class="form-control" id="impact" name="impact">
        <option value="1" selected>1 High</option>
        <option value="2">2 Medium</option>
        <option value="3">3 Low</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="inputUrgency">Urgency</label>
      <select class="form-control" id="urgency" name="urgency">
        <option value="1" selected>1 High</option>
        <option value="2">2 Medium</option>
        <option value="3">3 Low</option>
      </select>
    </div>


  <div class="form-group col-md-4">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" name="address" id="address" placeholder="1234 Main St">
  </div>

  <button type="submit" class="btn btn-primary">Raise Incident</button>
</form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>